body {
	font-family: sans-serif;
}

table {
	width: 100%;
}

.statistics .summary {
	font-weight: bold;
	background: #c6cbd1 !important;
}

@supports (writing-mode: sideways-lr) {
	.statistics th a {
		white-space: nowrap;
		writing-mode: sideways-lr;
		padding: 0.2em 0;
	}
}
@supports (writing-mode: vertical-rl) and (not (writing-mode: sideways-lr)) {
	.statistics th a {
		white-space: nowrap;
		writing-mode: vertical-rl;
		padding: 0.2em 0;
		transform: rotate(180deg);
	}
}

.statistics tr:first-child th {
	position: sticky;
	top: 0;
	z-index: 3;
}

.statistics tr:first-child th:first-child {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
}

.statistics th:first-child[rowspan] {
	position: sticky;
	left: 0;
	z-index: 1;
}
