body {
	font-family: sans-serif;
}

table {
	width: 100%;
}

details {
	border: 1px solid #a2a9b1;
	padding: 5px;
	border-radius: 5px;
	width: fit-content;
}

.statistics .summary {
	font-weight: bold;
	background: #c6cbd1 !important;
}

@supports (writing-mode: sideways-lr) {
	.statistics th a {
		white-space: nowrap;
		writing-mode: sideways-lr;
		padding: 0.2em 0;
	}
}
@supports (writing-mode: vertical-rl) and (not (writing-mode: sideways-lr)) {
	.statistics th a {
		white-space: nowrap;
		writing-mode: vertical-rl;
		padding: 0.2em 0;
		transform: rotate(180deg);
	}
}

/* Fix the rendering of borders of sticky header cells */
.statistics {
	border-collapse: separate !important;
	border-spacing: 0 !important;
	border-width: 1px 0 0 1px !important;
}

.statistics td,
.statistics th {
	border-width: 0 1px 1px 0 !important;
}

/* Sticky headers */
.statistics tr:first-child th {
	position: sticky;
	top: 0;
	z-index: 1;
}

.statistics tr:first-child th:first-child {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 2;
}

.statistics th:first-child, .statistics th:first-child[rowspan] + th {
	position: sticky;
	left: 201px;
	z-index: 1;
}

.statistics th:first-child[rowspan] {
	left: 0;
	min-width: 200px;
	max-width: 200px;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
